@model COVID_19.Models.Case

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Case</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Confirmed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Confirmed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deaths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deaths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Recovered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recovered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
