@model IEnumerable<COVID_19.Models.Case>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Country Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Confirmed", "Index", new { sortOrder = ViewBag.ConfirmedSortParm })
        </th>
        <th>
            @Html.ActionLink("Deaths", "Index", new { sortOrder = ViewBag.DeathsSortParm })
        </th>
        <th>
            @Html.ActionLink("Recovered", "Index", new { sortOrder = ViewBag.RecoveredSortParm })
        </th>
        <th>
            @Html.ActionLink("Active", "Index", new { sortOrder = ViewBag.ActiveSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deaths)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recovered)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
